---
import MainLayout from '../layouts/mainLayout.astro';
import Footer from '../layouts/footer.astro';
---

<MainLayout a="Ilham Ilyas R" />
<div class="mx-10 h-screen lg:mx-64">
  <!-- <h1>Hi, I'm Ilham Ilyas R</h1>
  <p>I'm a web developer from Indonesia</p> -->
</div>
<Footer />
